replicaCount: 2
image:
  repository:
  tag: "0.1-rc1"
  pullPolicy: IfNotPresent
containerPort: 8080
service:
  type: ClusterIP
  port: 80
  targetPort: http
ingress:
  enabled: true
  className: nginx
  hosts:
    - host: app.local
      paths:
        - path: /
          pathType: Prefix
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
metrics:
  enabled: true
  path: /metrics

