name: Laravel CI Stage 1

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.4'
    - uses: actions/checkout@v4
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer update && composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Install Node.js dependencies
      run: npm ci && npm run build
    - name: Install PHP CodeSniffer
      run: composer require --dev squizlabs/php_codesniffer
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Lint with PHPCS
      run: |
        vendor/bin/php-cs-fixer fix app/ routes/ database/ tests/ --rules=@PSR12 --verbose

